<span *ngIf="employees?.length < 1">There is no employees at all</span>

<div *ngIf="employees?.length > 0">
  <table>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Salary</th>
      <th>Hire date</th>
      <th>Department Name</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>

    <ng-template ngFor let-item [ngForOf]="employees">
      <tr>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.email}}</td>
        <td>{{item.salary}}</td>
        <td>{{getDate(item.hireDate)}}</td>
        <td>{{item.department.name}}</td>
        <td><button class="update_button submit_delete" (click)="this.routeToUpdatePage(item)">Update</button></td>
        <td>
          <button class="delete_button submit_delete" (click)="delete(item.id)">Delete</button>
        </td>
      </tr>
    </ng-template>
  </table>
</div>

