a{
    display: inline-block;
    padding: 10px 10px 10px;
    margin-left: 20px;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.header_refs{
    align: center;
    padding: 40px 20px 0 20px;
}

.header_ref:hover{
    background: #a5ffff;
    transition: 0.8s;
}

.header_ref_del:hover{
    background: #ff5b5b;
    transition: 0.8s;
}

.department_by_id_manage{
    padding: 40px 20px 0 20px;
}

.input_param{
    padding-top: 15px;
    margin-top: 10px;
}

.update_button{
    color: blue;
}

.error_massage, .delete_button{
    color: red;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}
