a{
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.input_param{
    padding-top: 15px;
    margin-top: 10px;
}

.department_href{
    text-decoration: none;
}

.update_button{
    color: blue;
}

.error_massage{
    color: red;
}

.header_refs{
    text-transform: uppercase;
    padding-top: 20px;
}

.delete_button{
    color: red;
}

.departments_main{
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    margin-top: 20px;
}

.departments_all{
    position: absolute;
    padding-top: 15px;
}

.input_param_id{
    visibility: hidden;
}