<div class="createOrUpdateForm">
  <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)" id="createOrUpdateDepartmentForm" class="createOrUpdateDepartment">
    <div class="createOrUpdateForm">
      <input type="hidden" id="id" name="id" [value]="employee ? employee.id : ''" class="id" >
      <p>First name</p>
      <input [value]="employee ? employee.firstName: ''" name="name" type="text" class="input_param name" id="firstName">
      <p>Last name</p>
      <input [value]="employee ? employee.lastName : ''" name="address" type="text" class="input_param address" id="lastName" >
      <p>Email</p>
      <input [value]="employee ? employee.email : ''" name="address" type="email" class="input_param address" id="email" >
      <p>Salary</p>
      <input [value]="employee ? employee.salary : ''" name="address" type="number" class="input_param address" id="salary" >
      <p>hireDate</p>
      <input [value]="employee ? employee.hireDate : ''" name="address" type="date" class="input_param address" id="hireDate" >
      <p>Enter address</p>
      <input [value]="idDepartment ? idDepartment : employee ? employee.department.id : ''" name="address" type="text" class="input_param address" id="idDepartment" >
      <!--<input [(ngModel)]="department ? department.address : ''" name="addressDepartment" type="text" class="input_param address" id="addressDepartment" >-->
      <input type="submit" class="submit_createOrUpdate" value="Add department">
    </div>
  </form>
</div>
