<table>
  <tr>
    <th>Address</th>
    <th>Name</th>
    <th>List</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>

  <ng-template ngFor let-item [ngForOf]="departments" >
    <tr>
      <td>{{item.address}}</td>
      <td>{{item.name}}</td>
      <td><button class="update_button">Employees</button></td>
      <td><button class="update_button submit_delete">Update</button></td>
      <td><button class="delete_button submit_delete" (click)="delete(item.id)">Delete</button></td>
    </tr>
  </ng-template>
</table>

